<!-- Main -->
<div class="hero-unit">
  <h1>This Site is Under Development</h1>
  <h2>Enterprise Applications Screencasts (eAppsCasts)</h2>
  <p>Todays Enterprise Applications are complex and training is expensive, and time-consuming. eAppsCasts provides an alternative using short screencasts to demonstrate and teach the use of specific software features.</p>
</div>

<!-- Contributors-->
<div class="row">
  <div class="span2">
    <div><%= image_tag "/assets/nerd.jpg", :size => "80x80" %></div>
  </div>
  <div class="span2">
    <h2>Authors Wanted</h2>
  </div>
  <div class="span10">
    <p>Are you an expert in your field? Why not share what you know with others on your own Channel? If you are interested in becoming an Author, see the <%= link_to "Authoring Guidelines", contributors_path %>. </p>
  </div>
</div>

<hr>

<!-- Channels-->
<div class="row">
  <div class="span4">
     <h2>Channel 1</h2>
     <h3>Microsoft SSRS </h3>
     <p>SQL Server Reporting Services provides a full range of ready-to-use tools and services to help you create, deploy, and manage reports for your organization, as well as programming features that enable you to extend and customize your reporting functionality.</p>
     <p><a class="btn btn-primary btn-large" <%= link_to "Channel 1", "episodes#index" %></a></p>
  </div>
  <div class="span4">
    <h2>Channel 2</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary btn-large" <%= link_to "Channel 2", "episodes#index" %></a></p>
 </div>
  <div class="span4">
    <h2>Channel 3</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary btn-large" <%= link_to "Channel 3", "episodes#index" %></a></p>
  </div>
</div>
