<%= content_for :head do %>
  <style>
    .hero-unit{height: 228px;}
    .provider {
      font-size:28px;
      border:1px solid #eee;
      padding:20px 38px;;
      float:left;
      margin:19px;
      background-color:#eee;
    }
    
    .provider:hover {
      background-color:#ddd;
    }
    
    .provider a:hover {
      text-decoration:none;
      color:#0088CC;
    }
    
    .provider img {
      vertical-align:middle;
    }
  </style>
<% end %>
<div class="container">
<div class="hero-unit">

<p>
  <h2>Login!</h2>
</p>

<p>Choose your favorite provider and proceed.</p>

<p>
  <div class="provider">
    <%= link_to image_tag("icons/twitter.png", :width => 48, :height => 48) + "  Twitter", "/auth/twitter" %>
  </div>
  <div class="provider">
    <%= link_to image_tag("icons/facebook.png", :width => 48, :height => 48) + "  Facebook", "/auth/facebook" %>
  </div>
  <div class="provider">
    <%= link_to image_tag("icons/google.png", :width => 48, :height => 48) + "  Google", "/auth/google_oauth2" %>
  </div>
<!--<div class="provider">
    <%= link_to image_tag("icons/linkedin-icon.png", :width => 48, :height => 48) + "  Linked In", "/auth/linkedin" %>
  </div> -->
</p>
</div>
</div>

